<%= turbo_frame_tag 'task_title' do %>
  <div id="task_form">
    <%= form_with(model: task) do |form| %>
      <% if task.errors.any? %>
        <div class="text-danger">
          <ul>
            <% task.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <%= form.text_field :title, class: 'form-control', placeholder: 'Task title' %>
      <%= form.submit class: 'btn btn-sm btn-primary mt-3' %>
      
    <% end %>
  </div>
<% end %>