<%= turbo_frame_tag 'participant_name' do %>
  <%= form_with(model: participant) do |form| %>
    <% if participant.errors.any? %>
      <div class="text-danger">
        <ul>
          <% participant.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="d-flex">
      <%= form.text_field :name, class: 'form-control' %>
      <%= form.submit 'Update name', class: 'btn btn-sm btn-primary' %>
    </div>
    
  <% end %>
<% end %>
